In [42]:
#
# New Version 2.0
#

import numpy
import re
import geonamescache
import pandas as pd

gc = geonamescache.GeonamesCache()

countries = gc.get_countries_by_names().keys()
cities = [ value.get("name") for key, value in gc.get_cities().items()]

def get_cities(name):
    return name in countries

def get_country(name):
    return name in countries

def create_city_name(wordlist):
    return " ".join(wordlist)

f = open("headlines.txt", "r", encoding="utf-8")
fileLines = f.readlines()

headline_col = []
country_col = []
city_col = []

counter = 0 

for idx in range(len(fileLines)):
    line = fileLines[idx]
    headline_col.append(line.strip())
    
    relevantWords = re.findall(r"([A-Z]\w+)\s?",line)
    partialResult = []
    city_names = []
    country_names = []
    while len(relevantWords) > 0 :
        list0 = relevantWords[:]
        while len(list0) > 0 :
            helperText = create_city_name(list0).strip()
            if gc.get_cities_by_name(helperText):
                if not helperText in city_names :
                    city_names.append(helperText)
            if(get_country(helperText)):
                country_names.append(helperText)
            list0.pop()
        relevantWords.pop(0)
    city_names = list(filter( lambda i: len([x for x in city_names if i in x])==1 ,city_names))
    counter = counter + len(city_names) + len(country_names)
    city_col.append(", ".join(city_names) if len(city_names) > 0 else numpy.NAN  )
    country_col.append(", ".join(country_names) if len(country_names) > 0 else numpy.NAN )
    
df = pd.DataFrame(data={'headline': headline_col, 'countries': country_col,  'cities': city_col})
print(counter)
print(df.head(50))
df.to_csv(r'solution.csv')

602
                                             headline countries  \
0              Zika New York City Outbreak Hits Miami       NaN
1                     Could Zika Reach New York City?       NaN
2                   First Case of Zika in Miami Beach       NaN
3             Mystery Virus Spreads in Recife, Brazil    Brazil
4             Dallas man comes down with case of Zika       NaN
5                   Trinidad confirms first Zika case       NaN
6              Zika Concerns are Spreading in Houston       NaN
7               Geneve Scientists Battle to Find Cure       NaN
8               The CDC in Atlanta is Growing Worried       NaN
9                  Zika Infested Monkeys in Sao Paulo       NaN
10              Brownsville teen contracts Zika virus       NaN
11  Mosquito control efforts in St. Louis take new...       NaN
12  San Juan reports 1st U.S. Zika-related death a...       NaN
13                   Flu outbreak in Galveston, Texas       NaN
14                 Zika alert â€“ Manila now threatened       NaN
15                     Zika afflicts 7 in Iloilo City       NaN
16               New Los Angeles Hairstyle goes Viral       NaN
17                      Louisiana Zika cases up to 26       NaN
18               Orlando volunteers aid Zika research       NaN
19                Zika infects pregnant woman in Cebu       NaN
20                Chicago's First Zika Case Confirmed       NaN
21              Tampa Bay Area Zika Case Count Climbs       NaN
22     Bad Water Leads to Sickness in Flint, Michigan       NaN
23                     Baltimore plans for Zika virus       NaN
24          London Health Unit Tracks Mad Cow Disease       NaN
25     Zika cases in Vietnam's Ho Chi Minh City surge   Vietnam
26                Philadelphia experts track pandemic       NaN
27                             Flu season hits Boston       NaN
28            Scientists in Paris to look for answers       NaN
29           Key Zika Findings in San Diego Institute       NaN
30                     Thailand-Zika Virus in Bangkok  Thailand
31                    Beijing team cracks Zika secret       NaN
32                         Zika spreading to Salvador       NaN
33                 Kuala Lumpur is Hit By Zika Threat       NaN
34                First Zika case confirmed in Yangon       NaN
35             Tallahassee Doctors Discuss Zika Virus       NaN
36                   Zika Virus Reaches San Francisco       NaN
37          New Vaccine on Trial in Bethesda District       NaN
38                 Townsville Zika tests inconclusive       NaN
39              Mandaluyong City under Siege by Virus       NaN
40               Hepatitis E re-emerges in Santa Rosa       NaN
41                       Zika worries in San Salvador       NaN
42                   Zika virus reported in Cleveland       NaN
43              More Zika patients reported in Austin       NaN
44                Zika outbreak in Piracicaba, Brazil    Brazil
45                Lima tries to address Zika Concerns       NaN
46  More people in Toronto are infected with Hepat...       NaN
47                        18 new Zika Cases in Bogota       NaN
48                     Spanish Flu Sighted in Antigua       NaN
49               Brisbane is infested with Meningitis       NaN

                  cities
0   New York City, Miami
1          New York City
2            Miami Beach
3                 Recife
4                 Dallas
5               Trinidad
6                Houston
7                    NaN
8                Atlanta
9                    NaN
10           Brownsville
11                   NaN
12              San Juan
13             Galveston
14                Manila
15                Iloilo
16           Los Angeles
17                   NaN
18               Orlando
19                   NaN
20               Chicago
21            Tampa, Bay
22                 Flint
23             Baltimore
24                London
25      Ho Chi Minh City
26          Philadelphia
27                Boston
28                 Paris
29             San Diego
30               Bangkok
31               Beijing
32              Salvador
33          Kuala Lumpur
34                Yangon
35           Tallahassee
36         San Francisco
37              Bethesda
38            Townsville
39      Mandaluyong City
40            Santa Rosa
41          San Salvador
42             Cleveland
43                Austin
44            Piracicaba
45                  Lima
46               Toronto
47                   NaN
48                   NaN
49              Brisbane